<div class="cloudview">
    <div class="container">
        <h1>Career Trender - Jobs</h1>
        <!--<p>Test: {{query}} in {{location}}</p>
        <label>What:
            <input type="text" ng-model="query">
        </label>
        <label>Where:
            <input type="text" ng-model="location">
        </label>-->
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Job Results</div>
    <table class=table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Title</th>
                <th>Snippet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="job in vm.jobs">
                <th scope="row">{{job.Id}}</th>
                <th>{{job.Title}}</th>             
                <th>Snippet: {{job.Description}}</th>
            </tr>
        </tbody>
    </table>
    
</div>